<html>
<head>
	<title>J. Smith Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Linked css files -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/userprofile.css" rel="stylesheet">
	<link href="/css/constants.css" rel="stylesheet">
</head>
<body>
	<!-- bootstrap container for page content -->
	<div class="container">
		<!-- Back Button, Username -->
		<div class="backandname">
			<button type="button" onclick="goBack()" id="back">Back</button> 
			<h1>{{username}}</h1>
		</div>	
		<div class="spacer"></div>
		<div class="picandlinks">
			<!-- Profile Picture -->
			<div class="pic-container">
				<a><img src="{{picture}}"></a>
				<!-- Add a way to change it -->
			</div>
			<div class="sub">
				<!-- Links to Stats and Favorites user pages. Need to add link to Stats page and fill those pages -->
				<h3><a href="/{{username}}/statistics">Statistics </a><span class="glyphicon glyphicon-stats"></span></h3><hr>
				<h3><a href="/{{username}}/favorites">Favorites</a></h3>
			</div>
		</div>
		<!-- At a Glance Table -->
		<div class="glance">
			<ul>
				<li><h3>At a Glance</h3></li>
				<!-- Top 3 Genres -->
				<li><ul class="topgenres">
					<li>Top 3 Genres:</li>
					{{#with statistics}}
						{{#each genres}}
							<li class="genre">{{genre}}</li>
						{{/each}}
					{{/with}}
				</ul></li>
				<!-- Last Listened to Song and from where -->
				<li><ul class="lastlistened">
					{{#with statistics}}
						{{#with lastlistened}}
							<li>Last Listened to:</li>
							<li><a href="{{songlink}}">{{song}}</a> by <a href="{{artistlink}}">{{artist}}</a></li>
							<li>From <a href="{{sourcelink}}">{{source}}</a> at {{time}}</li>
						{{/with}}
					{{/with}}
				</ul></li>
				<!-- Linked Music Accounts, Add Button -->
				<li><ul>
					<li><h7 class="linked">Linked Accounts: </h7></li>
					{{#each sources}}
						{{#if connected}}
							<li class="mediums"><a href={{link}}>{{medium}}</a></li>
						{{/if}}
					{{/each}}
					<li><button type="button" id="addsource">Add Source</button></li>
				</ul></li>
			</ul>
			<!-- Where user will enter their source information -->
			<div class="sourceops">
				<form>
					<select>
						<option value="spotify">Spotify</option>
						<option value="apple music">Apple Music</option>
					</select>
					Enter username: <input type="text" id="Enter username"><br>
					<input type="submit" id="submittedusername"><br>
                </form>
			</div>
		</div>
		<!-- Navbar Section -->
		<ul class="navbar">
			<li><a href="/{{username}}/index">Home</a></li>
			<li><a href="/{{username}}" class="active">Account</a></li>
			<li><a href='/{{username}}/Friends'>Friends</a></li>
		</ul>
	</div>

	<!-- connected javascript files -->
	<script src="/js/jquery-1.11.0.js"></script>	
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		function goBack(){
			window.history.back();
		}

		// Call this function when the page loads (the "ready" event)
		$(document).ready(function() {
			initializePage();
		})

		/*
		* Function that is called when the document is ready.
		*/
		function initializePage() {
			$('#submittedusername').on("click", addSource);
			// $('#colorBtn').click(randomizeColors);
		}

		function addSource(e) {
			e.preventDefault();

			//accept user input
			var username = document.getElementById("Enter username").value;
			console.log(username);

			var data = $.getJSON('../data.json', function(json) {
				console.log(data);
			});

			if (data.sources.connected == false) {
				data.sources.connected = true;
				data.sources.link = "https://open.spotify.com/user/" + username;
			}

			$('.linked').show();
			$('.sourceops').hide();

			//TODO update data.json
		}
	</script>
</body>
</html>
